{%  extends 'base.html' %}

{% block content %}
 <!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us..</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome TO Dajngo ecommerce!!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                </br></br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Animi aperiam perspiciatis consectetur corrupti ipsum sequi similique aliquam voluptate, 
                    reiciendis consequuntur non a adipisci nemo eos cupiditate dolore? Iste placeat quo commodi s
                    imilique ipsa sequi explicabo eaque, quasi excepturi reprehenderit, modi, in autem recusandae! 
                    Assumenda animi placeat amet, dolorum illum odit tempora eum ullam iusto? Incidunt minima 
                    voluptatum aliquam laboriosam labore quia obcaecati molestiae distinctio. Similique totam ut, 
                    veniam vero voluptate inventore commodi aliquid saepe, rem quidem numquam reiciendis eius sint 
                    explicabo rerum et quasi debitis? Illum, eius adipisci. Soluta, alias molestiae dignissimos quos 
                    iste blanditiis corrupti hic. Similique dolore alias repellat libero impedit dolor doloribus numquam 
                    nihil, ullam iusto sit, aut explicabo vero tenetur error! Ab vero culpa nostrum illo, 
                    sequi nobis quae mollitia animi, a qui obcaecati id cumque, voluptas consequatur magni 
                </br></br>
                    adipisci fugiat ut unde numquam cupiditate deleniti reiciendis! Quia maxime corrupti similique 
                    quae reiciendis nesciunt ut quos quasi suscipit autem harum, vero eum hic libero blanditiis 
                    rem voluptas odio voluptatibus quas eius quidem aperiam ipsam fugiat iusto! Ipsa cumque aliquam 
                    modi expedita quas recusandae pariatur excepturi repellat minus nobis cupiditate exercitationem 
                    quibusdam, deserunt nisi quae voluptatibus possimus eius vitae itaque sed. Laboriosam optio eligendi 
                    nesciunt sunt veniam adipisci voluptatibus eveniet. Assumenda eum dolores ea tempora nesciunt! 
                    Tenetur aperiam numquam architecto neque molestias animi, id exercitationem aliquid cupiditate 
                    
                    magni, facilis natus sapiente cum odit recusandae. Recusandae sequi rem amet sunt, esse ipsa vi
                    
                    tae voluptates asperiores sed alias labore eveniet consequatur tempore. Itaque deserunt quidem 
                    beatae dolorum impedit doloremque?
                </p>
            </div>
        </center>
    </div>

</div>


{%endblock%}